<section ng-class="'widget-'+widget.type+' '+widget.class">
  <h1 class="box-title fa fa-{{widget.ico}}" ng-if="widget.title" ng-bind="widget.title || widget.name"></h1>
  <nav class="box-options">
    <button class="box-option fa fa-{{option.ico}}"
            ng-repeat="option in widget.nav.options"
            ng-click="Widget.action(option.action)"
            title="{{option.label}}"
            ng-hide="{{option.hide}}"
            ></button>
    <button class="box-option box-option-settings fa"
            ng-if="widget.settings"
            title="Settings"
            ng-class="{'on-hover-spin fa-cog':!isSettingOpen,'open-settings fa-times':isSettingOpen}"
            ng-click="Widget.toggleSettings()"></button>
  </nav>
  <div ng-nicescroll nice-option="{
        cursorborder:'none',
        cursorcolor: 'rgba(255,255,255,1)',
        cursorborderradius: '0'
      }" class="box-content"
       ng-include="widget.template">
  </div>
  <div  class="box-settings"
        ng-class="{'open': isSettingOpen}">
    <h2 class="box-title">Settings</h2>
    <div ng-nicescroll nice-option="{
        cursorborder:'none',
        cursorcolor: 'rgba(255,255,255,1)',
        cursorborderradius: '0'
      }" ng-include="widget.settings"></div>
  </div>
</section>
