<section class="box" ng-class="'widget-'+widget.type">
  <h1 class="box-title" ng-bind="widget.title || widget.name"></h1>
  <nav class="box-options">
    <button class="box-option fa fa-{{option.ico}}"
            ng-repeat="option in widget.nav.options"
            ng-click="option.action"
            ></button>
    <button class="box-option on-hover-spin fa fa-cog" ng-click="Widget.openSettings()"></button>
  </nav>
  <div class="box-content" ng-include="widget.template">
  </div>
</section>
