.box {
  overflow: hidden;
  width: 50%;
  background-color: #666;
  color: #eee;
  position: relative;
  border: 4px solid transparent;
}

.box:hover {
  border-color: #fff;
}

.box-title {
  font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 1em;
  line-height: 1em;
  margin: 0;
  padding: 10px;
}

.box-options {
  position: absolute;
  right: 0;
  top: 0;
}

.box-options button {
  background: 0;
  border: 0;
  margin: 0;
  line-height: 1em;
  padding: 10px;
}

.box-option-settings {
  z-index: 1020;
  position: relative;
}

.box-content {
  overflow: hidden;
  position: absolute;
  top: calc(1em + 20px);
  bottom: 0;
  width: 100%;
}

.box-settings {
  position: absolute;
  background: #222;
  color: #eee;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translate3d(0,-100%,0);
  transition: .3s ease-in-out transform;
  padding: 10px;
}

.box-settings.open {
  transform: translate3d(0,0,0);
}

.box-option-settings.open-settings {
  color: #eee;
}

.box-settings > h2 {
  padding: 0;
  margin-bottom: 10px;
}