<div>

  <carousel collection="feeds">

    <div ng-repeat="feed in feeds" class="carousel-item">
      <h1 class="feed-title"><a ng-href="{{feed.link}}" ng-bind-html="feed.title"></a></h1>
      <ul class="feed-items">
        <li class="feed-item" ng-repeat="item in feed.entries">
          <article>
            <h2 class="feed-item-title">
              <a href="{{item.link}}" ng-bind-html="item.title"></a>
            </h2>
          </article>
        </li>
      </ul>
    </div>

  </carousel>

  <style>

    carousel {
      margin-bottom: 0;
      min-height: 100%;
    }

    .carousel-item {
      padding: 0 40px;
    }

    .slick-dots {
      bottom: 0;
      margin-bottom: 0;
    }

    .widget-feeds a {
      font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: lighter;
      font-size: 1em;
      line-height: 1em;
      color: #fff;
      text-decoration: none;
    }

    .feed-title,
    .feed-item-title {
      font-size: 1em;
      margin: 0;
    }

    .feed-title {
      text-align: right;
    }

    .feed-title a {
      color: rgba(0, 0, 0, .4);
    }

    .feed-item-title {
      padding: 4px 0;
      border-top: 1px solid rgba(0, 0, 0, .2);
    }

    .feed-items {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .source-item {
      position: relative;
    }

    .source-item input {
      max-width: -webkit-calc(100% - 36px);
    }

    .button-addsource {
      background: 0;
      border: 0;
      width: 100%;
      line-height: 2em;
    }

    .source-item button {
      background: 0;
      border: 0;
      position: absolute;
      right: 0;
      height: 100%;
      width: 33px;
    }

  </style>

</div>
