<form ng-submit="add(temp.input)">
  <input  class="todo-input"
          type="text" placeholder="what needs to be done?"
          ng-model="temp.input"
           />
</form>
<div class="empty-warn" ng-if="!$storage.todo.length">
  Nothing better than zero items, this is awesome =P
</div>
<ol class="todo-list">
  <li class="todo-list-item"
      ng-repeat="todo in $storage.todo | orderBy:'created':true"
      ng-class="{completed: todo.completed}">
    <input type="checkbox" class="toggle" ng-model="todo.completed" /> {{todo.title}}
    <span class="fa fa-times remove" ng-click="remove(todo)"></span>
  </li>
</ol>
