<!doctype html>
<html lang="" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Deshboard</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link href='https://fonts.googleapis.com/css?family=Roboto:300,300italic,100italic,100|Roboto+Condensed:300,300italic|Roboto+Slab' rel='stylesheet' type='text/css' />

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/angular-dragula/dist/dragula.css" />
    <link rel="stylesheet" href="/bower_components/angular-ui-tree/dist/angular-ui-tree.min.css" />
    <link rel="stylesheet" href="/bower_components/ngToast/dist/ngToast.css" />
    <link rel="stylesheet" href="/bower_components/normalize-css/normalize.css" />
    <link rel="stylesheet" href="/bower_components/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" href="/bower_components/slick-carousel/slick/slick-theme.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/components.css -->
    <link rel="stylesheet" href="components/chrome/sync.css">
    <link rel="stylesheet" href="components/menu/menu.css">
    <link rel="stylesheet" href="components/widget/widget.css">
    <link rel="stylesheet" href="components/ui/carousel.css">
    <link rel="stylesheet" href="components/todo/todo.css">
    <link rel="stylesheet" href="components/favs/favs.css">
    <!-- endbuild -->


    <link rel="stylesheet" href="/.tmp/styles/main.css">
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

  </head>
  <body>

    <div class="container" ng-controller="WidgetsController">

      <nav class="menu">
        <ul>
          <li>
            <h3>Layouts</h3>
            <ul>
              <li ng-class="{'active': dashboardActive.layout == $index}"
                  ng-repeat="layout in settings.layouts track by $index">
                <div class="droppable droppable-layout" ng-click="dashboardActive.layout = $index">
                  <div ng-repeat="style in layout" ng-style="style"></div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </nav>

      <div class="dashboards">
        <div class="dashboard" ng-repeat="dashboard in ui.dashboards">

          <div
            class="box"
            ng-style="settings.layouts[dashboard.layout][$index]"
            ng-repeat="w in dashboard.widgets track by $index"
            dragula="'widgets'" dragula-model="w" dragula-scope="$parent.$parent"
            >

            <widget type="{{w.type}}"
                    class="{{w.class}}"
                    ></widget>

          </div>

        </div>
      </div>

    </div>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-dragula/dist/angular-dragula.js"></script>
    <script src="/bower_components/jquery.nicescroll/jquery.nicescroll.js"></script>
    <script src="/bower_components/angular-nicescroll/angular-nicescroll.js"></script>
    <script src="/bower_components/angular-sortable-view/src/angular-sortable-view.js"></script>
    <script src="/bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
    <script src="/bower_components/Keypress/keypress-2.1.3.min.js"></script>
    <script src="/bower_components/lodash/lodash.js"></script>
    <script src="/bower_components/moment/moment.js"></script>
    <script src="/bower_components/ngstorage/ngStorage.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/bower_components/ngToast/dist/ngToast.js"></script>
    <script src="/bower_components/slick-carousel/slick/slick.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/components.js -->
    <script src="components/chrome/chrome.js"></script>
    <script src="components/auth/auth.js"></script>
    <script src="components/ui/ui.js"></script>
    <script src="components/widget/widget.js"></script>
    <script src="components/clock/clock.js"></script>
    <script src="components/feeds/feeds.js"></script>
    <script src="components/note/note.js"></script>
    <!--<script src="components/gallery/gallery.js"></script>-->
    <script src="components/quote/quote.js"></script>
    <script src="components/todo/todo.js"></script>
    <script src="components/favs/favs.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
