.favs__list
{
	display: block;
	list-style: none;
	margin-top: 10px;
}

.favs__item
{
	display: flex;
}

.favs__link
{
	display: block;
	display: flex;
	align-items: center;
	padding: 5px;
}

.favs__favicon
{
	position: relative;
	min-width: 40px;
	min-height: 40px;
	width: 40px;
	height: 40px;
	margin-right: 10px;
	background: #fff;
	border: 4px solid #fff;
	border-radius: 6px;
}

.favs__favicon-img
{
	width: 100%;
	height: auto;
}

.favs__item-input
{
	height: 40px;
	margin: 5px 0;
}

.favs__action
{
	opacity: 0;
	cursor: pointer;
	background: 0;
	padding: 10px 10px;
}

.favs__item:hover > .favs__action
{
	opacity: .6;
}

.favs__item > .favs__action:hover
{
	opacity: 1;
}

.favs__placeholder
{
	text-align: center;
	padding: 20px;
	margin: 20px;
/* 	border: 1px solid rgba(102, 179, 180, .1);
	color: rgba(102, 179, 180, .2); */
}